# Oracle Backend Configuration
PORT=3001

# Blockchain
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
BUNZ_CONTRACT=0x8d0CC6dcD796e9B14bd25BA2A21291aa3Af39fcB

# Oracle Wallet (para firmar transacciones)
# Esta es la private key que te dio Marco
ORACLE_PRIVATE_KEY=5e009fa90adbc590c6e06c4b48d89bc2365c79acd12fbbccab07725d451732f8

# Redis (para rate limiting)
REDIS_HOST=localhost
REDIS_PORT=6379

# Database (para logs)
DATABASE_URL=postgresql://user:pass@localhost:5432/rabbitty
